body {
    background: url("..//images/bg.jpg") no-repeat center center fixed;
    background-size: cover;
    /* opacity: 1.5; */
    font-size: 30px;
    text-align: center;
    margin: 0;
    padding: 0;
    text-align: center;
}

#wrapper {
    position:fixed;
    /* margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px; */
    width: 60%;
    left: 20%;
    height: 500px;
    background: rgba(228, 228, 228, 0);
    border: groove 5px #ffffff;
}


/* h1 {
    color: black;
    font-size: 120px;
    font-weight: lighter;
    text-shadow: 3px 2px 3px white;
    text-transform: uppercase;
    /* text-decoration: underline rgb(26, 16, 16); */
 */

 #start { 
    font-size: 20px;
}
#start:hover {
    font-size: 20px;
    color: red;
}
.btn {
    position: absolute;
    /* right: 0; */
    bottom: 0;
    left: 0;
    width: 100%;
    border: 3px black;
    font-size: 20px;
    color: black;
}

